/* Register.css */
.register-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* background-color: rgb(170, 209, 223); */
  }
  
  .form-container {
    width: 100%;
    max-width: 900px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #8AAAE5
    
  }
  
  .form-content {
    display: flex;
    flex-direction: row;
  }
  
  .form-section {
    flex: 1;
    padding: 24px;
  }
  
  .image-section {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    
    padding: 24px;
  }
  
  .auth-image {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
  }
  
  .title {
    margin-bottom: 8px;
    text-align: center;
  }
  
  .slogan {
    margin-bottom: 24px;
    text-align: center;
  }
  
  .btn {
    width: 100%;
  }

  .alert{
    margin: 1.5rem;
  }
  